.partners
	&-cont
		background: var(--backgroundColor)
		padding: 70px 0 80px 

	&-title
		font-size: rem(26)
		font-weight: 500
		margin-bottom: 40px

	&-top
		display: flex
		justify-content: space-between
		align-items: center

		.swiper-button-next
			margin-left: 20px

	&-arrow
		display: flex

	&-item
		display: flex
		align-items: center
		background: #fff
		padding: 20px 45px

		&__img
			flex: none
			margin-right: 30px