.tags
	margin-bottom: 60px
	
	&__list
		margin-bottom: -15px

	&__item
		display: inline-block
		margin: 0 15px 15px 0
		padding: 9px 16px
		background: var(--backgroundColor)
		border-radius: 18px
		line-height: 1
		font-size: 13px

		&:first-child
			background: none
			padding: 0

		&.active
			background: var(--mainColor)
			color: #fff
