:root
	--defaultFont: "Montserrat", sans-serif
	--baseWidth: 1400px
	--mainColor: #623B2A
	--secondColor: #E8452E
	--backgroundColor: #F3F6F9
	--borderColor: #eaedf2

	--boxShadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2)