@import "../css/common.css"

@import "_vars.sss"
@import "_base.sss"
@import "_form-elements.sss"

@import "../css/swiper.css"
@import "selectize/dist/css/selectize.default.css"




@import "_header.sss"


.btn
	display: inline-block
	padding: 15px 25px
	line-height: 1
	background: var(--secondColor)
	border-radius: 25px
	color: #fff
	transition: background .3s ease

	&:hover 
		background: #cc3d29

