footer.footer
	.wrapper
		.footer__cont
			.footer__copy © ООО «АПК Мильстрим-<br> Черноморские вина»

			.footer__soc
				.soc
					.soc__item
						a(href="").soc__link
							object(type="image/svg+xml" data="img/ico-facebook.svg" width="20" height="20")
								img(src="img/ico-facebook.svg" width="20" height="20" alt="")
					.soc__item
						a(href="").soc__link
							object(type="image/svg+xml" data="img/ico-vk.svg" width="20" height="20")
								img(src="img/ico-vk.svg" width="20" height="20" alt="")
					.soc__item
						a(href="").soc__link
							object(type="image/svg+xml" data="img/ico-inst.svg" width="20" height="20")
								img(src="img/ico-inst.svg" width="20" height="20" alt="")
					.soc__item
						a(href="").soc__link
							object(type="image/svg+xml" data="img/ico-ok.svg" width="20" height="20")
								img(src="img/ico-ok.svg" width="20" height="20" alt="")


			.footer__devaloper
				a.developer(href="#")
					span.developer__img
						include ../../img/ico-dev.svg

#sprite(style="display: none")
	<!-- Эту свг нужно вставлять инклюдом, т.к. она может меняться -->
	include ../symbol/sprite.svg


