.tags
	.tags__list
		.tags__item Теги:
		.tags__item.active Все
		each title, i in ['МФЦ для бизнеса', 'Фонд финансирования промышленности и предпринимательства', 'Поддержка инвесторов','Предоставление поручительств','Поддержка экспорта','Обучение','Мама – предприниматель','Консультации','Услуги центра инжиниринга и сертификации','Имущественная поддержка','Фонд развития']
			a(href="").tags__item=title

	.tags-mobile
		label.tags__label Теги:
		select(type="text").tags__input
			each title, i in ['МФЦ для бизнеса', 'Фонд финансирования промышленности и предпринимательства', 'Поддержка инвесторов','Предоставление поручительств','Поддержка экспорта','Обучение','Мама – предприниматель','Консультации','Услуги центра инжиниринга и сертификации','Имущественная поддержка','Фонд развития']
				option(value="i")=title
