<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Контакты
		link(rel="shortcut icon" href="favicon.ico")
		link(rel="stylesheet" href="css/common.css")
		style(type="text/css")
			include inc/index.css
	body
		div
			.links
				.logo
					img(src="img/logo.png")
				.links_cont
					ul
						li
							a(target="_blank" href="main.html") Главная
						li
							a(target="_blank" href="support.html") Одна поддержка
						li
							a(target="_blank" href="calendar.html") Календарь мероприятия
						li
							a(target="_blank" href="contacts.html") Контакты
						li
							a(target="_blank" href="news.html") Новости
						li
							a(target="_blank" href="base-page.html") Одна новость
						li
							a(target="_blank" href="docs.html") Документы
						li
							a(target="_blank" href="lk-treatment.html") Личный кабинет - обращения
						li
							a(target="_blank" href="lk-treatment-no.html") Личный кабинет - обращений нет
						li
							a(target="_blank" href="lk-support.html") Личный кабинет - Доступные виды поддержки
						li
							a(target="_blank" href="personal-data-fiz.html") Личный кабинет - Личные данные (физ. лицо)
						li
							a(target="_blank" href="personal-data.html") Личный кабинет - Личные данные
						li
							a(target="_blank" href="lk-events.html") Личный кабинет - Мероприятия
						li
							a(target="_blank" href="lk-auth.html") Личный кабинет - Авторизация
						li
							a(target="_blank" href="lk-reg.html") Личный кабинет - Регистрация (Физ. лицо)
						li
							a(target="_blank" href="lk-reg-ur.html") Личный кабинет - Регистрация (Юр. лицо)
						li
							a(target="_blank" href="konkurs.html") Конкурс
						li
							a(target="_blank" href="forms.html") Формы
