<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Новости
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		main#content
			.wrapper
				.content
					.title-block__cont
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#") Главная
									span.bread-crumbs__this Новости
							.title-block__title
								h1 Новости
					.content-main-cont
						.content-main
							include inc/tags.pug
							.news
								.news-slider-container
									.news-slider
										.swiper-container
											.swiper-wrapper
												a(href="#").news-slider__item.swiper-slide
													picture
														source(srcset="img/photos/main-banner.jpg" media="screen and (min-width: 481px)" data-main="data-main")
														source(srcset="img/main-banner-mobile.jpg" media="screen and (max-width: 480px)")
														img
													.news-slider__item-cont
														.news-slider__label Региональные новости
														.news-slider__info-cont
															.news-slider__info-img
																span
																	svg.ico
																		use(xlink:href="#ico-logo")
															.news-slider__info
																.news-slider__title Вадим Живулин: Средства, выделяемые<br> на сектор МСП до 2024 года - беспрецедентны.
																.news-slider__date 05.02.2019
												

										.main-slider__nav
											.swiper-arrow.swiper-button-prev
											.swiper-arrow.swiper-button-next

									.news-slider--right
										a(href="#").news__item.animated
											.news__item-logo
												span
													svg.ico
														use(xlink:href="#ico-logo")
											.news__item-label Региональные новости
											.news__item-title В г. Улан-Удэ откроется центр предпринимательства «Мой Бизнес»
											.news__item-date 05.02.2019
										a(href="#").news__item.animated
											.news__item-logo
												span
													svg.ico
														use(xlink:href="#ico-logo")
											.news__item-label Региональные новости
											.news__item-title В г. Улан-Удэ откроется центр предпринимательства «Мой Бизнес»
											.news__item-date 05.02.2019
								.news__list
									- for (let i = 0; i < 14; i++)
										a(href="#").news__item
											.news__item-logo
												span
													svg.ico
														use(xlink:href="#ico-logo")
											.news__item-label Региональные новости
											.news__item-title В г. Улан-Удэ откроется центр предпринимательства «Мой Бизнес»
											.news__item-date 05.02.2019

									.news__list-btn
										a(href="").btn Еще новости


									
									



							


		include inc/footer.pug
		include inc/scripts.pug