<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Одна поддержка
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		main#content
			.support-banner
				figure.support-banner__img
					img(src="img/photos/support-banner.jpg", alt="")
				.support-banner__info-cont
					.wrapper
						.support-banner__info
							h1 Услуги центра инжиниринга<br> и сертификации
							.support-banner__info-text Помогаем занятому в производстве малому и среднему бизнесу реализовать на условиях софинансирования проекты по модернизации оборудования, расширению или созданию новых производств.
							.support-banner__info-btn
								a(href="").btn Получить консультацию

			.wrapper
				.content
					.title-block__cont
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#") Главная
									a.bread-crumbs__link(href="#") Получить поддержку
									span.bread-crumbs__this Услуги центра инжиниринга и сертификации
					.content-main-cont
						aside.content-aside
							.support-banner__links
								a(href="").support-banner__link Документы
								a(href="").support-banner__link Конкурсы
							.search-support-cont
								form(action="")
									.search-support
										.search-support__title Введите ИНН и узнайте о вариантах поддержки Вашего бизнеса:
										.search-support__input
											input(type="text" placeholder="Введите Ваш ИНН")
										.search-support__submit
											input(type="submit" value="Найти").btn
							include inc/calendar.pug
						.content-main
							.support-for-whom
								.support-for-whom__title Для кого?
								.support-for-whom__text Для производственных компаний, которым необходимы инженерно-исследовательские услуги, а также экономическая и маркетинговая поддержка как часть проекта развития. Вы относитесь к малому или среднему бизнесу, зарегистрированы и работаете на территории Челябинской области.

							.support-text
								.support-text__title Что Вы получите?
								.text-page
									p Финансовую и интеллектуальную поддержку вашего проекта со стороны Регионального центра инжиниринга Челябинской области.
									p 
										b Как оказывается поддержка:
									ol
										li Вы обращаетесь к нам с запросом, готовите документы.
										li Мы изучаем ваше предприятие: проводим анализ потенциала предприятия и аудит готовности к реализации проекта по нескольким направлениям.
										li Подбираем исполнителей — компании, которые выполнят работы по вашему проекту. Ваша компания при этом оплачивает 20% полной стоимости работ, остальное подрядчику оплачивает Центр инжиниринга (но не более 950 тыс.руб в год)
										li Подрядчик по трёхстороннему договору выполняет для вас работы по разработанному техническому заданию.
									p 
										b Какие задачи мы помогаем решать:
									ol
										li Получить инженерные услуги (мы покрываем до 80% от стоимости услуг, не более 600 тыс. руб):
											ul
												li по разработке и модернизации оборудования и продукции, оснастки;
												li по созданию конструкторской и технологической документации;
												li по проведению расчётов, испытаний;
												li по разработке технологических процессов;
												li по изготовлению опытных образцов продукции и оборудования.
										li Провести экологический, технологический, энергетический и другой аудит производства, провести предсертификационную и предлицензионную проверку (до 80% от стоимости услуг, не более 100 тыс. руб).
										li Разработать проект развития вашего предприятия (до 80% от стоимости услуг, не более 100 тыс. руб).
										li Продвинуть ваш продукт на рынке, в том числе разработать логотип, зарегистрировать товарный знак, принять участие в профильных выставках. Мы оплачиваем до 80% от стоимости услуг, не более 100 тыс.руб.
										li Защитить права на интеллектуальную собственность. Патентные услуги оказываются субъектам МСП на льготной основе. С ценами можно ознакомиться здесь.
							.services
								.services__list
									each title, i in ['Разработка программы (проекта) развития предприятия', 'Инженерные услуги', 'Проведение технических аудитов', 'Маркетинговые услуги', 'Выращивание поставщиков', 'Сертификация продукции']
										a(href="").services__item
											figure.services__item-img
												img(src="img/services-"+i+".svg", alt="")
											.services__item-title=title
											.services-arrow

							.circle-list.circle-list--num
								.circle-list__title Дополнительные возможности для Вас
								.circle-list__list
									.circle-list__item Кроме софинансирования работ и услуг, мы ведём открытый реестр малых инжиниринговых предприятий, многие из которых могут стать вашими партнёрами
									.circle-list__item Проводим активную политику в области обучения: тренинги, семинары, вебинары, круглые столы, конференции
									.circle-list__item Способствуем повышению внимания СМИ к вашей компании

							.action
								.action-title Модернизируйте производство<br> и получите новые возможности
								.action-btn
									a(href="#").btn Получить поддержку
							.story-success
								.story-success__top 
									.story-success__title Истории успеха
									.story-success__arrow
										.swiper-arrow.swiper-button-prev
										.swiper-arrow.swiper-button-next
								.story-success__list
									.swiper-container
										.swiper-wrapper
											.swiper-slide
												.story-success__slide
													.story-success__slide-top
														div
															.story-success-title Пробная история успеха
															.story-success__date 05.02.2019
														.story-success__btn
													.story-success__text
														.text-page
															span
																p Широта ищет параллакс. После того как тема сформулирована, рефракция параллельна. Земная группа формировалась ближе к Солнцу, однако соединение решает часовой угол,  
															span
																| об этом в минувшую субботу сообщил заместитель администратора NASA.
																p Мероприятие соберет более 500 участников из 85 регионов России, среди которых будут представители органов исполнительной власти, ответственные за развитие малого и среднего в регионах Российской Федерации, а также руководители организаций инфраструктуры поддержки бизнеса
																p Мероприятие соберет более 500 участников из 85 регионов России, среди которых будут представители органов исполнительной власти, ответственные за развитие малого и среднего в регионах Российской Федерации, а также руководители организаций инфраструктуры поддержки бизнеса
																img(src="img/photos/video-img-0.jpg", align="left" alt="")
											.swiper-slide
												.story-success__slide
													.story-success__slide-top
														div
															.story-success-title Пробная история успеха
															.story-success__date 06.02.2019
														.story-success__btn
													.story-success__text
														.text-page
															span
																p Широта ищет параллакс. После того как тема сформулирована, рефракция параллельна. Земная группа формировалась ближе к Солнцу, однако соединение решает часовой угол,  
															span
																| об этом в минувшую субботу сообщил заместитель администратора NASA.
																p Мероприятие соберет более 500 участников из 85 регионов России, среди которых будут представители органов исполнительной власти, ответственные за развитие малого и среднего в регионах Российской Федерации, а также руководители организаций инфраструктуры поддержки бизнеса
																p Мероприятие соберет более 500 участников из 85 регионов России, среди которых будут представители органов исполнительной власти, ответственные за развитие малого и среднего в регионах Российской Федерации, а также руководители организаций инфраструктуры поддержки бизнеса
																img(src="img/photos/video-img-0.jpg", align="left" alt="")

							.faq
								.faq-title FAQ: Частые вопросы и ответы
								.accordion
									.accordion__item
										.accordion__item-top
											span В какие сроки необходимо подать заявку и полный пакет документов на оказание поддержки? 
											.accordion__item-arrow
										.accordion__item-bot
											.text-page 
												p Заявки принимаются постоянно при наличии средств на оказание поддержки. Информацию об этом можно уточнить у специалистов центра.
									.accordion__item
										.accordion__item-top
											span В каком виде нужно подавать заявку?
											.accordion__item-arrow
										.accordion__item-bot
											.text-page 
												p Заявки принимаются постоянно при наличии средств на оказание поддержки. Информацию об этом можно уточнить у специалистов центра.
									.accordion__item
										.accordion__item-top
											span Какие сроки получения поддержки?
											.accordion__item-arrow
										.accordion__item-bot
											.text-page 
												p Заявки принимаются постоянно при наличии средств на оказание поддержки. Информацию об этом можно уточнить у специалистов центра.
									.accordion__item
										.accordion__item-top
											span Кто будет исполнителем услуг?
											.accordion__item-arrow
										.accordion__item-bot
											.text-page 
												p Заявки принимаются постоянно при наличии средств на оказание поддержки. Информацию об этом можно уточнить у специалистов центра.
									.accordion__item
										.accordion__item-top
											span Как отбираются исполнители услуг? можно ли предложить исполнителя?
											.accordion__item-arrow
										.accordion__item-bot
											.text-page 
												p Заявки принимаются постоянно при наличии средств на оказание поддержки. Информацию об этом можно уточнить у специалистов центра.

							.circle-list
								.circle-list__title Для получения поддержки вам понадобятся
								.circle-list__list
									.circle-list__item заявка;
									.circle-list__item анкета;
									.circle-list__item информация о реализуемом проекте;
									.circle-list__item справка из налоговой инспекции об  отсутствии задолженности по налогам, сборам, иным обязательным платежам, а также пеней, штрафов и иных финансовых санкций в бюджеты всех уровней и государственные внебюджетные фонды (не позднее одного месяца от даты подачи заявки);
									.circle-list__item заверенные копии бухгалтерского баланса и отчета о финансовых результатах деятельность за последний отчетный год;
									.circle-list__item заверенная копия формы «Сведения о среднесписочной численности работников за предшествующий календарный год» с отметкой налогового органа о принятии указанной формы.

							.contacts-one
								.contacts-one__top
									.contacts-one__avatar
										img(src="img/avatar.png", alt="")
									.contacts-one__info
										.contacts-one__name Исенко Леонид Алексеевич
										.contacts-one__post руководитель
								.contacts-one__bot
									address.contacts-one__address
										.contacts-one__label Телефон:
										.contacts-one__link
											a(href="tel: 8 351 214 06 07") 8 351 214 06 07
									address.contacts-one__address
										.contacts-one__label Электронная почта:
										.contacts-one__link
											a(href="mailto: info@inzhener74.ru") info@inzhener74.ru
									address.contacts-one__address
										.contacts-one__label Адрес:
										.contacts-one__link 454000, г. Челябинск, ул. Российская, 110 к.1
						


		include inc/footer.pug
		include inc/scripts.pug